body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.header-container,
.hero-container,
.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.header-logo,
.hero-main {
    color: #F9FAF8;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 400px;
}

.hero-text {
    width: 600px;
}

.hero img {
    background-color: grey;
    width: 100%;
    margin: 40px;
}

.header {
    display: flex;
    padding: 20px;
    width: 1200px;
    justify-content: space-between;
}

.header-logo {
    font-size: 18px;
    font-weight: bold;
}

.header-links {
    display: flex;
    gap: 16px;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
}

.hero-secondary,
.header-container a,
.footer {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.hero-container {
    display: flex;
}